node-red/flows.json
[
  {
    "id": "609f7f62a8fe88ae",
    "type": "tab",
    "label": "Flow 1",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "774d111d3086ef67",
    "type": "connection",
    "name": "dev",
    "instance_url": "https://login.salesforce.com",
    "api_version": "60.0"
  },
  {
    "id": "15989ec9a3290c78",
    "type": "query",
    "z": "609f7f62a8fe88ae",
    "connection": "774d111d3086ef67",
    "query": "SELECT Id, Name, CreatedDate \nFROM Account \nORDER BY CreatedDate DESC \nLIMIT 10\n",
    "outputStyle": "messageAllRecords",
    "endMessage": "none",
    "outputs": 1,
    "maxFetch": "10000",
    "delay": "10",
    "x": 350,
    "y": 200,
    "wires": [["b91bfa4f1b1013f5"]]
  },
  {
    "id": "b91bfa4f1b1013f5",
    "type": "debug",
    "z": "609f7f62a8fe88ae",
    "name": "debug 1",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 680,
    "y": 300,
    "wires": []
  },
  {
    "id": "7e450c5a36dcf209",
    "type": "inject",
    "z": "609f7f62a8fe88ae",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 140,
    "y": 200,
    "wires": [["15989ec9a3290c78"]]
  },
  {
    "id": "d2c466cf69676268",
    "type": "query",
    "z": "609f7f62a8fe88ae",
    "connection": "774d111d3086ef67",
    "query": "Select Id From Opportunity LIMIT 1",
    "outputStyle": "messageAllRecords",
    "endMessage": "none",
    "outputs": 1,
    "maxFetch": "10000",
    "delay": "10",
    "x": 350,
    "y": 300,
    "wires": [["b91bfa4f1b1013f5"]]
  },
  {
    "id": "23418fa83d8aad99",
    "type": "crud",
    "z": "609f7f62a8fe88ae",
    "node_name": "CRUD - create",
    "connection": "774d111d3086ef67",
    "operation": "create",
    "sObject": "Account",
    "allOrNone": false,
    "allowRecursive": true,
    "upsertExtIdField": "",
    "x": 360,
    "y": 420,
    "wires": [["b91bfa4f1b1013f5"]]
  },
  {
    "id": "75de7a83e6f020ba",
    "type": "inject",
    "z": "609f7f62a8fe88ae",
    "name": "",
    "props": [
      {
        "p": "timestamp",
        "v": "",
        "vt": "date"
      },
      {
        "p": "payload"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "{\"Name\": \"test-\" & timestamp }",
    "payloadType": "jsonata",
    "x": 150,
    "y": 420,
    "wires": [["23418fa83d8aad99", "43ca4a22a4f2618b"]]
  },
  {
    "id": "43ca4a22a4f2618b",
    "type": "debug",
    "z": "609f7f62a8fe88ae",
    "name": "debug 2",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 280,
    "y": 480,
    "wires": []
  },
  {
    "id": "171d177748f5f466",
    "type": "inject",
    "z": "609f7f62a8fe88ae",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 140,
    "y": 300,
    "wires": [["d2c466cf69676268"]]
  }
]
