node-red/flows.json
[
  {
    "id": "609f7f62a8fe88ae",
    "type": "tab",
    "label": "Flow 1",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "774d111d3086ef67",
    "type": "connection",
    "name": "dev",
    "instance_url": "https://login.salesforce.com",
    "api_version": "60.0"
  },
  {
    "id": "15989ec9a3290c78",
    "type": "query",
    "z": "609f7f62a8fe88ae",
    "connection": "774d111d3086ef67",
    "query": "Select Id From Account LIMIT 1",
    "outputStyle": "messageAllRecords",
    "endMessage": "none",
    "outputs": 1,
    "maxFetch": "10000",
    "delay": "10",
    "x": 350,
    "y": 220,
    "wires": [["b91bfa4f1b1013f5"]]
  },
  {
    "id": "b91bfa4f1b1013f5",
    "type": "debug",
    "z": "609f7f62a8fe88ae",
    "name": "debug 1",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 500,
    "y": 320,
    "wires": []
  },
  {
    "id": "7e450c5a36dcf209",
    "type": "inject",
    "z": "609f7f62a8fe88ae",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 140,
    "y": 260,
    "wires": [["15989ec9a3290c78", "d2c466cf69676268"]]
  },
  {
    "id": "d2c466cf69676268",
    "type": "query",
    "z": "609f7f62a8fe88ae",
    "connection": "774d111d3086ef67",
    "query": "Select Id From Opportunity LIMIT 1",
    "outputStyle": "messageAllRecords",
    "endMessage": "none",
    "outputs": 1,
    "maxFetch": "10000",
    "delay": "10",
    "x": 350,
    "y": 380,
    "wires": [["b91bfa4f1b1013f5"]]
  }
]
